.home-bg {
  background-image: url('../src/assets/home-bg.svg');
  background-size: cover;
  background-position: center;
  height: 756px;
  width: 100%;
}

.intro-bg {
  background-image: url("../src/assets/Intro.svg");
  background-size: cover;
  background-position: center;
}